<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clinicsystem"
        tools:targetApi="31">
        <activity
            android:name=".Factory"
            android:exported="false" />
        <activity
            android:name=".tongue2"
            android:exported="false" />
        <activity
            android:name=".blood2"
            android:exported="false" />
        <activity
            android:name=".Xr_ay"
            android:exported="false" />
        <activity
            android:name=".DoctorReportActivity"
            android:exported="false" />
        <activity
            android:name=".ManageReportActivity"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="false" />
        <activity
            android:name=".FragmentA"
            android:exported="false" />
        <activity
            android:name=".Fragment2Activity"
            android:exported="false" />
        <activity
            android:name=".Fragment1Activity"
            android:exported="false" />
        <activity
            android:name=".dSchedule"
            android:exported="false" />
        <activity
            android:name=".Diagnostic"
            android:exported="false" />
        <activity
            android:name=".CreditCardPaymentStatusActivity"
            android:exported="false" />
        <activity
            android:name=".PayPalPaymentStatusActivity"
            android:exported="false" />
        <activity
            android:name=".PayPalPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CreditCardPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".PatientPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".AddMaterialsActivity"
            android:exported="false" />
        <activity
            android:name=".MaterialsInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".MaterialsInventoryManager"
            android:exported="false" />
        <activity
            android:name=".AppointmentViewHolder"
            android:exported="false" />
        <activity
            android:name=".CancelAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".dAppoint"
            android:exported="false" />
        <activity
            android:name=".pAppoint"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ProstheticLabActivity"
            android:exported="false" />
        <activity
            android:name=".RadiologyLabActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".PatientActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>